@import "global";
#header{
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    &--nav{
      select{
        margin: 0 15px;
        outline: none;
        cursor: pointer;
        border:none;
        font-weight: 500;
        font-size: 18px;
        color: #4F9CF9;
      }

    }
    &--btn{
      display: flex;
      div{
        button{
          width: 100px;
          height: 40px;
          background: #FFE492;
          border-radius: 8px;
          border:none;
          margin: 0 10px;
          &:hover{
            background: transparent;
            color:#FFE492;
            border:2px solid #FFE492;
          }
        }
      }
      button{
        width: 227px;
        height: 40px;
        background: #4F9CF9;
        border-radius: 8px;
        border:none;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
        transition: .4s;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        &:hover{
          background: transparent;
          color:#4F9CF9;
          border:2px solid #4F9CF9;
        }
      }

    }
  }
}